.App {
  text-align: center;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Code-Block {
  border-radius: 10px;
  background-color: #272727;
  padding: 10px;
  width: 250px;
  margin: auto;
  font-size: small;
  text-align: left;
}

.Code-String {
  color: rgb(199, 113, 0);
}

.Code-Class {
  color: rgb(0, 199, 172);
}

.Code-Prop {
  color: rgb(221, 219, 102);
}

.Code-Value {
  color: rgb(102, 203, 221);
}

a {
  color: white;
}

a:hover {
  color: #529dad;
}

h3 {
  margin-bottom: 5px;
}

h6 {
  margin-bottom: 5px;
  margin-top: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
