/* Header component */
.header {
  top: 0;
  width: 100%;
  height: 2.5rem;
  margin-top: 20px;
  text-align: center;
}

.header__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: 200px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

/* Container for Lottie logo and HelloWorld components */
.main {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

/* Logo */
.main__logo {
  width: 200px;
  padding: 3rem;
}

/* HelloWorld component */
.hello {
  max-width: 100%;
}

.hello__heading {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #4ed29e;
}

.hello__text {
  max-width: 40rem;
  color: white;
  line-height: 1.8;
  font-weight: 400;
  font-size: 15px;
}

.hello__link {
  font-size: 15px;
  font-weight: 600;
  margin-top: 2rem;
  color: #4ed29e;
}

.hello__form {
  margin: 0 auto;
}

.hello__input {
  font: inherit;
  color: #4ed29e;
  width: 400px;
  border: 3px solid #529dad;
  outline: none;
  border-radius: 4px;
  margin: 2.5rem 2rem 2.5rem 0;
  padding: 1rem;
  max-width: 75%;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.hello__btn {
  font-size: 0.875rem;
  color: #4ed29e;
  border: 1px solid #529dad;
  padding: 5px 15px;
  font-weight: 500;
  line-height: 2.75;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.hello__btn:hover {
  color: #ffffff;
  border: solid 1px #529dad;
  background-color: #60c093;
}

@media screen and (max-width: 1300px) {
  .main {
    width: auto;
    flex-direction: column;
    margin: auto 0;
  }

  .hello__heading {
    text-align: center;
    font-size: 1.8rem;
  }

  .hello__text {
    text-align: center;
  }

  .hello__form {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .hello__input {
    margin: 1.5rem 0 1rem 0;
  }

  .hello__btn {
    margin-bottom: 2rem;
  }
}

.Toastify__toast {
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #60c093;
}
